html
	background-color beige
	
h1
	font-size 80px
	text-align center
	font-family 'Francois One', sans-serif;
	
body
	width 800px
	margin auto
	font-family 'Mali', sans-serif
	font-size 24px
	
#story > *, button#reset
	display none
	
input, #button, select, button
	font-size 22px
	border-radius 5px
	border-style solid
	padding 8px
	
#button, button
	display block
	margin-top 10px

select
	display block
	margin-bottom 20px
	font-size 24px
	width 120px
	margin auto